
planetBtn {
    width: 120px;
    height: 120px;
    background: transparent;
    align-row: center;
    align-col: center;
}

planetBtn:hover {
    transform: scale(1.1) 0.05s;
}

miniBtn {
    width: 25px;
    height: 25px;
    background: transparent;
    align-row: center;
    align-col: center;
}

miniBtn:hover {
    transform: scale(1.1) 0.05s;
}

mainBtn {
    flex: 1;
    font-size: 15px;
    padding: 3px;
    background: rgba(255, 255, 255, 70);
    border: 0px 15px;
    shadow: 2px rgba(0, 0, 0, 50) 0px 3px;
    align-row: center;
    align-col: center;
}

mainBtn:hover {
    background: rgba(59, 190, 255, 140);
    shadow: 2px rgba(20, 31, 38, 60) 0px 3px;
}

container {
    flex-direction: column;
    align-row: center;
    align-col: center;
    padding: 5px;
    gap: 20px;
}

panel {
    flex-direction: column;
    align-row: center;
    align-col: center;
    padding: 10px;
    gap: 5px;
    background: rgba(0, 0, 0, 80);
    border: 2px rgba(255, 255, 255, 40) 20px;
    shadow: 5px rgba(0,0,0,120) 0px 5px;
}

tab {
    flex-direction: row;
    align-row: center;
    gap: 10px;
    height: 30px;
    border: 2px #5E5E5E 20px;
    margin: 0px -20px 0px 0px;
    padding: 15px 17px 15px 0px;
    background: rgba(0, 0, 0, 204);
    shadow: 5px rgba(0, 0, 0, 80) 0px 5px;
}


tabHover:hover {
    background: #20868a;
    border: 2px #38c4c9 20px;
}