
miniBtn {
    width: 35px;
    height: 35px;
    background: transparent;
    align-row: center;
    align-col: center;
}

miniBtn:hover {
    transform: scale(1.1);
}

mainBtn {
    flex: 1;
    border: 2px rgba(0,0,0,100) 5px;
    font-size: 18px;
    padding: 5px;
    background: #0e3c42;
    shadow: 5px rgba(0,0,0,50) 0px 3px;
    align-row: center;
    align-col: center;
}

mainBtn:hover {
    background: #20868a;
}

container {
    flex-direction: column;
    align-row: center;
    align-col: center;
    background: #2f5b61;
    padding: 5px;
    gap: 10px;
    border: 2px transparent 5px;
}